<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RX7 DASHBOARD</title>
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet"> -->
    <!-- <script>
        import {zingchart, ZC} from './zingchart/es6.js';
        // Modules must be imported EXPLICITLY when using es6 version
        import './zingchart/modules-es6/zingchart-pareto.min.js';
    </script> -->
    <script src="static/zingchart.min.js"></script> 
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
</head>
<body style="background:black; color:white">
<div>
    <div style="float:left;" id="Speedchart"></div>
    <div style="float:right;" id="kwchart"></div>
    <div style="text-align:center; font-size:40px;vertical-align: middle;" id="RawData"> </div>
</div>
    
<script>
    var data = null
    let speedConfig = {
        theme: "dark", "background-color":'black',
        type: "gauge",
        globals: {fontSize: 65},
        scale: {},'scale-2': {'size-factor':1},
        plot: {
          size: '100%',
          valueBox: [{
            placement: 'center',
            text: '%v', //default
            "font-color": "white",
            fontSize: 100,
          },
          {
            alpha: 0.9,
            placement: "center",
          text: '<br><br><br><br><br><br>mph',
          "font-color": "white",
          }]
        },
        "scale-r-2": {
          aperture: 275,
          values: "0:180:20",
          // markers: [{ //used for red portion of rpm
          //   type: "area",
          //   range: [160,180],
          //   'offset-start':0.82,
          //   'offset-end':0.1,
          //   'background-color': "red",
          //   alpha:0.7,
          // }],
          center: {
          alpha: 1,
          backgroundColor: 'black',
          borderColor: 'white',
          borderWidth: 4,
          size: 100,
          type: 'circle',
          x: '50%',
          visible: true,
          y: '50%'
          },
        
          tick: {
          alpha: 1,
          lineColor: 'white',
          lineStyle: 'solid',
          lineWidth: 5,
          placement: 'inner',
          size: 35,
          visible: true,
          rules: [{
            rule: '%i == 80',
            lineColor: "red"
          }]
          },
          minorTicks: 3,
          minorTick: {
          alpha: 1,
          lineColor: 'white',
          lineStyle: 'solid',
          lineWidth: 3,
          placement: 'inner',
          size: 20,
          visible: true
          },
          minorGuide: {visible: false},
          item: {
          'padding': 15,
          offsetR: -225,
          offsetX: -15,
          offsetY: -6,
          },
          // labels: ['0','20', '40', '60', '80', '100', '120', '140', '160', '180'],
          ring: {
          alpha: '0.75',
          size: 15,
          // rules: [{ // uncomment for red marker btw 160 and 180
          //   rule: '%v >= 160 && %v < 180',
          //   backgroundColor: '#E53935',
          //   }]
          },
        },
        'scale-r':{ //gauge backlight hack
          aperture:360,values: "0:360:360",
          guide:{
            items:[{
              "fill-type":"radial",
              backgroundColor1:"#00008b", //COLOR SCHEME
              backgroundColor2:"black"
            }],
          },
          center: {visible:false},ring: {visible:false},item: {alpha: 0},tick: {alpha: 0}
        },
        series: [
          {
            values:[0],
            backgroundColor: 'red',
            visible: false
          },
          {
            values: [0], // starting value
            backgroundColor: 'red',
            indicator: [-5, -5, -1, -100,-.35],
            scales:"scale-2, scale-r-2",
            animation: {
            effect: 2, 
            method: 4,
            sequence: 0,  
            speed: 500
            },
          }]
    };
    let kwConfig = {
        theme: "dark", "background-color":'black',
        type: "gauge",
        globals: {fontSize: 60},
        scale: {},'scale-2': {'size-factor':1},
        plot: {
          size: '100%',
          valueBox: [{
            placement: 'center',
            text: '%v', //default
            "font-color": "white",
            fontSize: 100,
          },
          {
            alpha: 0.9,
            placement: "center",
          text: '<br><br><br><br><br><br>kWh',
          "font-color": "white",
          }]
        },
        refresh: {
          type: "feed",
          transport: "js",
          url: "feed()",
          interval: 135,
          resetTimeout: 1000
        },
        "scale-r-2": {
          aperture: 275,
          values: "-50:270:50",
          // markers: [{ //used for red portion of rpm
          //   type: "area",
          //   range: [160,180],
          //   'offset-start':0.82,
          //   'offset-end':0.1,
          //   'background-color': "red",
          //   alpha:0.7,
          // }],
          center: {
          alpha: 1,
          backgroundColor: 'black',
          borderColor: 'white',
          borderWidth: 4,
          size: 100,
          type: 'circle',
          x: '50%',
          visible: true,
          y: '50%'
          },
        
          tick: {
          alpha: 1,
          lineColor: 'white',
          lineStyle: 'solid',
          lineWidth: 3,
          placement: 'inner',
          size: 35,
          visible: true,
          rules: [{
            rule: '%i == 80',
            lineColor: "red"
          }]
          },
          minorTicks: 3,
          minorTick: {
          alpha: 1,
          lineColor: 'white',
          lineStyle: 'solid',
          lineWidth: 2,
          placement: 'inner',
          size: 20,
          visible: true
          },
          minorGuide: {visible: false},
          item: {
          'padding': 15,
          offsetR: -225,
          rules: [{ //fiddle with this for placement of gauge nums
            rule: 'true',
            offsetX: -15,
            offsetY: -6,
          // },
          // {
          //     rule: '%i == 80',
          //     offsetX: -20,
          //     offsetY: -6,
          }]
          },
          // labels: ['0','20', '40', '60', '80', '100', '120', '140', '160', '180'],
          ring: {
          alpha: '0.5',
          size: 15,
          rules: [{ // ring color choices
            rule: '%v >= 0',
            // backgroundColor2: '#E53935',
            // backgroundColor1: 'black',
            // "fill-type":'radial',
            fillAngle:0,
            gradientColors: "black #E53935", //this is the red gradient
            gradientStops: "0.1",
            },
            {rule: '%v < 0',
            backgroundColor: 'white',
            alpha:0.35,
            
            // fillAngle:45,
            // gradientColors: "yellow white",
            // gradientStops: "0.01",
            }]
          },
        },
        'scale-r':{ //gauge backlight hack
          aperture:360,values: "0:360:360",
          "ref-angle":240,
          guide:{
            items:[{
              "fill-type":"radial",
              backgroundColor1:"#00008b", //COLOR SCHEME
              backgroundColor2:"black"
            }],
          },
          center: {visible:false},ring: {visible:false},item: {alpha: 0},tick: {alpha: 0}
        },
        series: [
          {
            values:[0],
            backgroundColor: 'red',
            visible: false
          },
          {
            values: [0], // starting value
            backgroundColor: 'red',
            indicator: [-5, -5, -1, -100,-.35],
            scales:"scale-2, scale-r-2",
            animation: {
            effect: 2, 
            method: 5,
            sequence: 0,  
            speed: 500
            },
          }]
    };

    zingchart.render({
        id: 'Speedchart',
        data: speedConfig,
        height: 1070,
        width: 1070,
    });

    zingchart.render({
        id: 'kwchart',
        data: kwConfig,
        height: 1070,
        width: 1070,
    });
        
    var source = new EventSource('/data');
    source.onmessage = function (event) {
        data = JSON.parse(event.data);
        var out = document.getElementById('RawData');
        out.innerHTML = data.menu
          // out.innerHTML = "speed: " + data.speed + '<br>'
          // + 'kWh: ' + data.kw + '<br>'
          // + 'ignition: ' + data.ignition + '<br>'
          // + 'currently charging: ' + data.charging + '<br>'
          // + "cell volt avg:  " + data.avgcellvolts + '<br>'
          // + 'cell volt max deviation: ' + data.cellvoltdevmax + '<br>'
          // + 'batt temp avg: ' + data.avgbatttemps + '<br>'
          // + 'batt temp max deviation: ' + data.batttempdevmax + '<br>'
          // + 'pi temp: ' + data.pitemp + ' &deg;C <br>'
          // + 'pi CPU: ' + parseFloat(data.piload) + '%'
          // + '<br>';
        // update speed gauge
        zingchart.exec('Speedchart', 'setseriesvalues', {
            plotindex:1,
            values: [parseInt(data.speed)]
        });
        // update kw gauge
        zingchart.exec('kwchart', 'setseriesvalues', {
            plotindex:1,
            values: [parseInt(data.kw)]
        });
        
    }
</script>

</body>
</html> 